/* === HEADER === */

/* === Navbar === */

body {
    background: #F2F1F0;
}

#main-navbar
{
    height: 7%;
    text-align: right;
    width: auto;
    font-size: 1.5em;
    font-weight: bold;
}



#MainRow
{
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 1%;
}

h1
{
    text-align: center;
}

#presentation{
    text-align: center;
    border: 2px solid #404040;
    border-radius: 5px;
    background: #404040;
    width: 104.8%;
    
    color: white;
}

#blocMap {
    background: #F2F1F0;
}

ul {
    list-style: none;
    margin-left: -9%;
}

li
{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    
}

#addressForm {
    text-align: center;
    padding-left: 25%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#footer{
    text-align: center;
    margin-top: 1%;
    width: 100%;
    bottom: 0px;
    margin-bottom: 0px;
    color: White;
    clear:both;
}

#MainContainer {
	height:650px;
}
